{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'mainsite/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'mainsite/css/mainstyle.css' %}" />
{% endblock %}

{% block title %}Aproposdrive{% endblock %}

{% block content %}
    <div class="container-fluid main-title">
        <h1>APROPOSDRIVE</h1>
    </div>
    <div class="container-fluid main-content">
        <h2>Wait for us to go live...</h2>
    </div>
{% endblock %}